* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    height: 80px;
    background-color: gray;
}

nav {
    height: 50px;
}

nav menu {
    background-color: rgb(72, 78, 83);
}

nav ul {
    
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding: 15px;
    justify-content: space-evenly;
}

section {
    height: 100vh;
}

.inicio {
    display: flex;
}

.apresentação {
    background-color: blue;
    /* min-width: 600px; */
    height: 400px;
}

.inscrição {
    height: 400px;
}





@media (max-width: 600px) {
    
    nav {
        background-color: rgb(72, 78, 83);
        height: 20px;
        display: flex;
        flex-direction: row-reverse;
        
    }

    nav menu {
        display: block;
        width: 0px;
        z-index: 100;
        transition: all 0.1s ease-in-out;
    }

    nav menu.ativo {
        width: 200px;
        transition: all 0.1s ease-in-out;
    }

    nav ul {
        background-color: rgb(72, 78, 83);
        align-items: flex-start;
        padding: 15px;
        justify-content: space-evenly;
        flex-direction: column;
    }

    nav li {
        padding: 10px;  
        color: rgb(194, 194, 194);
    }

    .navBotão {
        background-color: rgb(68, 68, 68);
        height: 50px;
        width: 50px;
        border-radius: 50%;
        z-index: 101;
        translate: -70% -35%;
        border: none;
        transition: all 0.2s ease-out;
    }

    .navBotão.ativo {
        translate: 50% -35%;
    }

}